@use "../../styles/tokens.scss";
@use "../../styles/layer.scss";
@use "../../styles/typography.scss";

:host {
    display: block;
    --row-height--compact: 40px;
    --row-height--regular: 52px;
    --row-height--relaxed: 60px;
}

* {
    box-sizing: border-box;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: inherit;
    position: relative;
    overflow: hidden;
    border-radius: tokens.$sd-border-radius-small;
}

.table {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: tokens.$sd-color-surface;
    flex-grow: 1;
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    padding: 0 0.5rem;
}

.table-row:not(.header-row) {
    &:not(:last-child) {
        border-bottom: 1px solid tokens.$sd-color-border;
    }
    &:hover {
        background-color: rgba(
            $color: tokens.$sd-color-primary,
            $alpha: tokens.$sd-opacity-state-layer-hover
        );
    }
}

.table-row.header-row {
    position: sticky;
    top: 0px;
    z-index: 5; //TODO: make the value not hardcoded
    background-color: layer.$sd-color-surface-1;
    color: tokens.$sd-color-palette-neutral-600;
    padding: 0 0.5rem;
    @include typography.sd-body();
    & .header-cell {
        pointer-events: unset;
        font-weight: inherit;
        &:not(:first-child) {
            border-left: 1px solid tokens.$sd-color-border;
        }
    }
}

.table--compact .table-row {
    --height: var(--row-height--compact);
}

.table--regular .table-row {
    --height: var(--row-height--regular);
}

.table--relaxed .table-row {
    --height: var(--row-height--relaxed);
}

.table-cell {
    display: flex;
    align-items: center;
    height: var(--height);
    padding: 0 0.5rem;
    flex: 0 0 auto;
}

.table-cell,
.table-cell * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.resizer {
    position: relative;
    cursor: col-resize;
    width: 8px;
    border-right: 1px solid tokens.$sd-color-primary;
    right: -8px;
}

.cell-right-align {
    text-align: right;
}

/** footer */
.table-footer {
    display: flex;
    flex-direction: row;
    background-color: tokens.$sd-color-surface;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-top: 1px solid tokens.$sd-color-border;
}

/** cell content */
.table-cell.cell--type-image img {
    object-fit: cover;
    aspect-ratio: 1;
    height: 100%;
}

/** row group */
.row-group {
    overflow-y: auto;
}
