@use "../../styles/tokens.scss";
@import "../../styles/_index";

:host {
    --symbol-color: #{tokens.$sd-color-palette-neutral-300}; //TODO: change
    --symbol-color-active: #{tokens.$sd-color-accent};
    --symbol-size: 1.2rem;
    --symbol-spacing: 0px;

    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    width: min-content;
    position: relative;
}

.rating {
    display: inline-flex;
    position: relative;
    font-size: var(--symbol-size);
    line-height: 0;
    color: var(--symbol-color);
    white-space: nowrap;
    cursor: pointer;
}

.rating > * {
    padding: var(--symbol-spacing);
}

.rating__partial-symbol-container {
    position: relative;
}

.rating__partial--filled {
    position: absolute;
    top: var(--symbol-spacing);
    left: var(--symbol-spacing);
}

.rating__symbol {
    transition: tokens.$sd-motion-duration-050 scale;
    pointer-events: none;
}

.rating__symbol.active,
.rating__partial--filled {
    color: var(--symbol-color-active);
}

.rating__symbol.hover {
    scale: 1.2;
}
