@use "../../styles/tokens.scss";

:host {
  --symbol-color: #{tokens.$sd-color-palette-neutral-300}; //TODO: change
  --symbol-color-active: #{tokens.$sd-color-accent};
  --symbol-size: 1.5rem;
  --symbol-spacing: 0px;

  display: inline-flex;
}

.rating {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

.rating__icons {
  display: inline-flex;
  position: relative;
  font-size: var(--symbol-size);
  line-height: 0;
  color: var(--symbol-color);
  white-space: nowrap;
  cursor: pointer;
}

.rating__icons > * {
  padding: var(--symbol-spacing);
}

.rating__partial-symbol-container {
  position: relative;
}

.rating__partial--filled {
  position: absolute;
  top: var(--symbol-spacing);
  left: var(--symbol-spacing);
}

.rating__icon {
  transition: tokens.$sd-motion-duration-050 scale;
  pointer-events: none;
}

.rating__icon.active,
.rating__partial--filled {
  color: var(--symbol-color-active);
}

.rating__icon.hover {
  scale: 1.2;
}
