@import "button";

button {
    background: $sd-color-primary;
    color: $sd-color-on-primary;

    &:enabled {
        @include state-render($sd-color-primary, true);
    }

    @include state-render-disabled-bg();
}

button.invert:not(:disabled) {
    background: $sd-color-surface;
    color: $sd-color-on-surface;

    &:enabled {
        @include state-render($sd-color-surface, true);
    }
}
