@import "../../styles/_index";

:host {
    display: block;
    width: min-content;
    height: min-content;
}

button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    padding: 0 $sd-space-100;
    align-items: center;
    border-radius: 6.25rem;
    transition: background 0.25s ease-out, color 0.25s ease-out,
        box-shadow 0.25s ease-out;
    cursor: pointer;
    height: 3rem;

    & .text {
        padding: 0 $sd-space-050;
    }

    &:focus {
        outline: 0px solid rgba(0, 0, 0, 0);
    }

    &:focus-visible {
        @include outline-focus;
    }

    @include state-render-disabled(false);
}

//style sizes
button {
    &.small {
        height: 2rem;
        & .text {
            @include typo-body-small;
        }
    }
    &.medium {
        height: 2.5rem;
    }
    &.large {
        height: 3rem;
    }
    &.extra-large {
        height: 4rem;
    }
}
