@use "../../../styles/index" as i;

:host {
    display: block;
    border-radius: i.$sd-border-radius-medium;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

.background,
.outline {
    border-radius: inherit;
    inset: 0;
    pointer-events: none;
    position: absolute;
}

.background {
    z-index: -1;
    background-color: i.$sd-color-surface;
}

.outline {
    // A default transparent border that is visible in HCM
    border: 1px solid transparent;
    // Outline should be placed on top of content, such as images.
    z-index: 1;
}
