@use "../../styles/tokens.scss";
@use "../../styles/typography.scss";
@use "../../styles/base.scss";

:host {
    width: min-content;
    height: min-content;
    display: block;
}

.switch__input {
    display: none;
}

.label {
    display: flex;
    flex-direction: column;
    gap: tokens.$sd-spacing-050;
    width: min-content;
    height: min-content;
    cursor: pointer;
}

.visual {
    width: 3rem;
    height: 1.5rem;
    position: relative;
    background: tokens.$sd-color-surface;
    display: block;
    border-radius: tokens.$sd-border-radius-circle;
}

.visual::after {
    content: "";
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    background-color: tokens.$sd-color-on-primary;
    border-radius: tokens.$sd-border-radius-circle;
    transition: 0.3s;
}

/*
input:not(:disabled) + label:active > .visual::after {
    width: calc(50% + 0.1875rem);
}

input:disabled + label {
    color: $sd-color-on-surface;
    opacity: 0.38;
    cursor: not-allowed;
}

input:disabled + label > .visual {
    background-color: rgba($color: $sd-color-disabled, $alpha: 0.12);
    &::after {
        background-color: $sd-color-on-surface;
        opacity: 0.38;
    }
}
*/

.switch.switch--checked label > .visual {
    background: tokens.$sd-color-primary;
    &::after {
        left: calc(100% - 0.1875rem);
        transform: translateX(-100%);
    }
}

input:focus-visible + label > .visual {
    @include base.outline-focus();
}
