@use "./typography";
@use "./tokens.scss";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    @include typography.body;
}

@mixin outline-focus($width: tokens.$sd-border-width-m) {
    outline: $width solid tokens.$sd-color-accent;
    outline-offset: tokens.$sd-space-012;
}
