@use "./typography";
@use "./tokens.scss";

@mixin outline-focus($width: tokens.$sd-border-width-medium) {
    outline: $width auto tokens.$sd-color-accent;
    outline-offset: tokens.$sd-spacing-012;
}

@mixin sd-border($color: tokens.$sd-color-border, $width: tokens.$sd-border-width-small) {
    border: $width solid $color;
}

@mixin frosted-glass() {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
