@use "./typography";
@use "./tokens.scss";

@mixin outline-focus($width: tokens.$sd-border-width-m) {
    outline: $width auto tokens.$sd-color-accent;
    outline-offset: tokens.$sd-space-012;
}

@mixin sd-border($color: tokens.$sd-color-primary, $width: tokens.$sd-border-width-m) {
    border: $width solid $color;
}

@mixin frosted-glass() {
    background: rgba(0, 0, 0, tokens.$sd-opacity-glass);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
