@use "./tokens";

@mixin display-large {
    font-family: tokens.$sd-typography-display-large-font;
    font-size: tokens.$sd-typography-display-large-size;
    font-style: tokens.$sd-typography-display-large-style;
    font-weight: tokens.$sd-typography-display-large-weight;
    line-height: tokens.$sd-typography-display-large-line-height;
    letter-spacing: tokens.$sd-typography-display-large-letter-spacing;
}

@mixin display {
    font-family: tokens.$sd-typography-display-font;
    font-size: tokens.$sd-typography-display-size;
    font-style: tokens.$sd-typography-display-style;
    font-weight: tokens.$sd-typography-display-weight;
    line-height: tokens.$sd-typography-display-line-height;
    letter-spacing: tokens.$sd-typography-display-letter-spacing;
}

@mixin display-small {
    font-family: tokens.$sd-typography-display-small-font;
    font-size: tokens.$sd-typography-display-small-size;
    font-style: tokens.$sd-typography-display-small-style;
    font-weight: tokens.$sd-typography-display-small-weight;
    line-height: tokens.$sd-typography-display-small-line-height;
    letter-spacing: tokens.$sd-typography-display-small-letter-spacing;
}

@mixin headline-large {
    font-family: tokens.$sd-typography-headline-large-font;
    font-size: tokens.$sd-typography-headline-large-size;
    font-style: tokens.$sd-typography-headline-large-style;
    font-weight: tokens.$sd-typography-headline-large-weight;
    line-height: tokens.$sd-typography-headline-large-line-height;
    letter-spacing: tokens.$sd-typography-headline-large-letter-spacing;
}

@mixin headline {
    font-family: tokens.$sd-typography-headline-font;
    font-size: tokens.$sd-typography-headline-size;
    font-style: tokens.$sd-typography-headline-style;
    font-weight: tokens.$sd-typography-headline-weight;
    line-height: tokens.$sd-typography-headline-line-height;
    letter-spacing: tokens.$sd-typography-headline-letter-spacing;
}

@mixin body-large {
    font-family: tokens.$sd-typography-body-large-font;
    font-size: tokens.$sd-typography-body-large-size;
    font-style: tokens.$sd-typography-body-large-style;
    font-weight: tokens.$sd-typography-body-large-weight;
    line-height: tokens.$sd-typography-body-large-line-height;
    letter-spacing: tokens.$sd-typography-body-large-letter-spacing;
}

@mixin body {
    font-family: tokens.$sd-typography-body-font;
    font-size: tokens.$sd-typography-body-size;
    font-style: tokens.$sd-typography-body-style;
    font-weight: tokens.$sd-typography-body-weight;
    line-height: tokens.$sd-typography-body-line-height;
    letter-spacing: tokens.$sd-typography-body-letter-spacing;
}

@mixin body-small {
    font-family: tokens.$sd-typography-body-small-font;
    font-size: tokens.$sd-typography-body-small-size;
    font-style: tokens.$sd-typography-body-small-style;
    font-weight: tokens.$sd-typography-body-small-weight;
    line-height: tokens.$sd-typography-body-small-line-height;
    letter-spacing: tokens.$sd-typography-body-small-letter-spacing;
}

@mixin label-small {
    font-family: tokens.$sd-typography-label-small-font;
    font-size: tokens.$sd-typography-label-small-size;
    font-style: tokens.$sd-typography-label-small-style;
    font-weight: tokens.$sd-typography-label-small-weight;
    line-height: tokens.$sd-typography-label-small-line-height;
    letter-spacing: tokens.$sd-typography-label-small-letter-spacing;
}

.display-large {
    @include display-large();
}

.display {
    @include display();
}

.display-small {
    @include display-small();
}

.headline-large {
    @include headline-large();
}

.headline {
    @include headline();
}

.body-large {
    @include body-large();
}

.body {
    @include body();
}

.body-small {
    @include body-small();
}

.label-small {
    @include label-small();
}
