@use "../../styles/tokens.scss";

.container {
  display: inline-flex;
}

.separator {
  display: inline;
  margin: 0 0.25rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.label.disabled {
  opacity: tokens.$sd-opacity-disabled;
}
