@import "../../styles/index";

:host {
    display: block;
    width: 100px;
    height: 100px;
}

div {
    height: 100%;
    width: 100%;
    border-radius: $sd-border-radius-medium;
    background-color: $sd-color-surface;
    transition-property: background-color, box-shadow;
    transition-duration: $sd-motion-duration-300;
    transition-timing-function: $sd-motion-easing-ease-out;
    @include state-render($sd-color-surface, true);
    &:focus-visible {
        @include outline-focus();
        box-shadow: none;
    }
}
