@import "material-symbols";

:host {
    display: inline-flex;
}

span {
    font-variation-settings: inherit;
}

.small {
    font-size: 1.25rem;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 2.5rem;
}

.extra-large {
    font-size: 3rem;
}
