@use "../../styles/typography";
@use "../../styles/tokens";
@import "../../styles/index";

:host {
    display: inline;
    box-sizing: border-box;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.field {
    display: flex;
    height: 3rem;
    align-items: center;
    align-self: stretch;
    align-items: stretch;
    border-radius: $sd-border-radius-large;
    outline: $sd-border-width-small solid $sd-color-border;
    transition: background $sd-motion-duration-100 $sd-motion-easing-linear;
    &:enabled {
        @include state-render-overlay($sd-color-primary);
    }
}

input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0 1rem;
    background: rgba($color: $sd-color-primary, $alpha: 0);
    color: $sd-color-on-surface;
    @include typography.sd-body();
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    gap: 0.125rem;
    @include typography.sd-body();
}

.label {
    width: fit-content;
    @include typography.sd-body();
    &.drawAsterisk::after {
        content: "*";
    }
}

.error-text,
.help-text {
    @include typography.sd-body-small();
}

.help-text {
    color: tokens.$sd-color-help-text;
}

input::placeholder {
    color: $sd-color-placeholder-text;
}

.leading-icon,
.trailing-icon {
    display: inline-flex;
    flex: 0 0 auto;
    color: $sd-color-placeholder-text;
}
.leading-icon::slotted(*) {
    margin: 0 0.75rem;
}
.trailing-icon::slotted(*) {
    margin: 0 0.75rem;
}

.field.error {
    outline: 2px solid $sd-color-error;
    background-color: $sd-color-error-container;
    & .leading-icon,
    .trailing-icon {
        color: $sd-color-error;
    }
    & + .error-label {
        visibility: visible;
    }
}

.field:has(input:focus-visible) {
    outline: 2px solid $sd-color-primary;
}

.label:has(+ .sd-text-field input:disabled) {
    @include state-render-disabled-element();
}

.field:has(input:disabled) {
    @include state-render-disabled(false);
}

input:disabled {
    cursor: not-allowed;
}

//error styling
.error .field {
    outline: 2px solid $sd-color-error;
}

.error-text {
    display: inline-flex;
    align-items: center;
    gap: $sd-spacing-025;
    margin-top: $sd-spacing-025;
    color: $sd-color-error;
    & sd-icon {
        color: $sd-color-error;
    }
}

.input__clear,
.input__password-toggle {
    background: none;
    padding: 0;
    border: none;
    width: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: tokens.$sd-color-placeholder-text;
    cursor: pointer;
}
