@import "./text-input";

textarea {
    resize: none;
    padding: 0.75rem;
    align-self: stretch;
    border-radius: $sd-border-radius-large;
    outline: $sd-border-width-s solid $sd-color-border;
    transition: background $sd-motion-duration-100 $sd-motion-easing-linear;
    border: none;
    color: $sd-color-on-surface;
    &:enabled {
        @include state-render-overlay($sd-color-primary);
    }

    &:focus-visible {
        outline: 2px solid $sd-color-primary;
    }

    &:disabled {
        @include state-render-disabled(false);
    }

    &::placeholder {
        color: $sd-color-text-placeholder;
    }
}

textarea:invalid {
    outline: 2px solid $sd-color-error;
    background-color: $sd-color-surface-error;
    @include state-render($sd-color-surface-error);
    & sd-icon {
        color: $sd-color-icon-error;
    }
    & + .error-label {
        visibility: visible;
    }
}

label:has(+ textarea:disabled) {
    @include state-render-disabled-element();
}
