@use "../../styles/tokens.scss";
@import "../../styles/_index";

:host {
    display: inline-block;
    cursor: pointer;
}

.checkbox {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 1.125rem;
    width: 1.125rem;
    border: $sd-border-width-small solid $sd-color-primary;
    border-radius: 0.2rem;
}

.state-layer {
    position: absolute;
    box-sizing: border-box;
    inset: 0;
    background: tokens.$sd-color-primary;
    opacity: 0;
}

input {
    all: unset;
    position: relative;
    width: 100%;
    height: 100%;
}

input:after {
    content: "";
    display: block;
    width: 4px;
    height: 7.2px;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -4.2px;
    position: absolute;
    border: 2px solid $sd-color-on-primary;
    border-top: 0;
    border-left: 0;
    transform: rotate(20deg);
    opacity: 0;
}

input:checked {
    &::after {
        opacity: 1;
        transform: rotate(43deg);
    }
}

:host([checked]) {
    & .checkbox {
        background: $sd-color-primary;
    }
    .state-layer {
        background: $sd-color-on-primary;
    }
}

input:focus-visible {
    @include base-outline-focus();
}

.label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
}

*:after {
    box-sizing: border-box;
}

:host(:hover) .state-layer {
    opacity: $sd-opacity-state-layer-hover;
}

:host(:active) .state-layer {
    opacity: $sd-opacity-state-layer-click;
}

:host(:focus) .state-layer {
    opacity: $sd-opacity-state-layer-focus;
}

:host([disabled]) {
    cursor: not-allowed;
    & .checkbox {
        opacity: $sd-opacity-disabled;
    }
}
