@use "../../styles/tokens.scss";
@use "../../styles/base.scss";

:host {
    display: inline-block;
    cursor: pointer;
}

.checkbox {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
    height: 1.125rem;
    width: 1.125rem;
    border: tokens.$sd-border-width-small solid tokens.$sd-color-primary;
    border-radius: 0.2rem;
}

.state-layer {
    position: absolute;
    box-sizing: border-box;
    inset: 0;
    background: tokens.$sd-color-primary;
    opacity: 0;
}

input {
    all: unset;
    position: relative;
    width: 100%;
    height: 100%;
}

input:after {
    content: "";
    display: block;
    width: 4px;
    height: 7.2px;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -4.2px;
    position: absolute;
    border: 2px solid tokens.$sd-color-on-primary;
    border-top: 0;
    border-left: 0;
    transform: rotate(20deg);
    opacity: 0;
}

input:checked {
    &::after {
        opacity: 1;
        transform: rotate(43deg);
    }
}

.checkbox.checkbox--checked {
    background: tokens.$sd-color-primary;
}

.checkbox--checked .state-layer {
    background: tokens.$sd-color-on-primary;
}

input:focus-visible {
    @include base.outline-focus();
}

.label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
    &.drawAstersik ::after {
        content: "*";
    }
}

*:after {
    box-sizing: border-box;
}

.checkbox:hover .state-layer {
    opacity: tokens.$sd-opacity-state-layer-hover;
}

.checkkbox:active .state-layer {
    opacity: tokens.$sd-opacity-state-layer-click;
}

.checkbox.checkbox--focused .state-layer {
    opacity: tokens.$sd-opacity-state-layer-focus;
}

.checkbox.checkbox--disabled {
    cursor: not-allowed;
    opacity: tokens.$sd-opacity-disabled;
}

/** error styling */
.checkbox.checkbox--user-invalid {
    outline: 2px solid tokens.$sd-color-critical;
    border-color: tokens.$sd-color-critical;
}
