@use "../../styles/tokens.scss";
@use "../../styles/layer.scss";

:host {
    --size: 256px;
    --size-collapsed: 3.5rem;
    --topbar-height: var(--sd-topbar-height);
    flex: 0 0 auto;
}

.container .panel {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    padding: 2rem 0;
    overflow: hidden;
    flex-direction: column;
    overflow: auto;
    pointer-events: all;
    top: inherit;
    inset-inline-end: inherit;
    bottom: inherit;
    inset-inline-start: inherit;
    width: inherit;
    height: inherit;
}

.panel .top-margin {
    display: block;
    width: 100%;
    height: var(--topbar-height);
}

.container.variant--overlay {
    position: absolute;
    & .panel {
        z-index: tokens.$sd-z-index-modal;
        @include layer.surface-3();
    }
}

.container.variant--push {
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    & .panel {
        @include layer.surface-1();
        z-index: 1;
    }
    &.collapsed {
        --size: var(--size-collapsed);
    }
}

.container.contained .panel {
    position: absolute;
    z-index: initial;
}

.panel:focus {
    outline: none;
}

.container.top {
    top: 0;
    inset-inline-end: auto;
    bottom: auto;
    inset-inline-start: 0;
    width: 100%;
    height: var(--size);
}

.container.end {
    top: 0;
    inset-inline-end: 0;
    bottom: auto;
    inset-inline-start: auto;
    width: var(--size);
    height: 100%;
}

.container.bottom {
    top: auto;
    inset-inline-end: auto;
    bottom: 0;
    inset-inline-start: 0;
    width: 100%;
    height: var(--size);
}

.container.start {
    top: 0;
    inset-inline-end: auto;
    bottom: auto;
    inset-inline-start: 0;
    width: var(--size);
    height: 100%;
}

.sidebar__overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: tokens.$sd-color-overlay;
    pointer-events: all;
}

.container.contained .sidebar__overlay {
    display: none;
}
