@use "../../styles/tokens.scss";
@forward "../select/select-option.scss";

.option {
    gap: 1rem;
    padding: 0 1rem;
}

.container {
    background-color: transparent;
}

.container.selected .background {
    background-color: tokens.$sd-color-accent;
}

a.container {
    color: inherit;
    text-decoration: inherit;
}

.container .background {
    position: absolute;
    inset: 0;
    background-color: transparent;
}
