@import "../../styles/_index";

.search-div {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: $sd-border-radius-circle;
    @include sd-border();
    height: 3rem;
    transition: background ease-out 0.2s;
    &:hover {
        background: state-color-overlay($sd-color-primary, "hover");
    }
}

.search-div:has(input:focus) {
    background: state-color-overlay($sd-color-primary, "focus");
}

.search-div:has(input:active) {
    background: state-color-overlay($sd-color-primary, "press");
}

input {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
}

input::placeholder {
    color: $sd-color-on-surface;
    opacity: 0.38;
}

.search-div sd-icon {
    padding: $sd-space-075;
}

#search-icon {
    margin-left: -1 * $sd-space-012;
}

.search-div input[type="search"] {
    width: 100%;
    margin-right: $sd-space-075;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
}

input::-webkit-search-cancel-button {
    display: none;
}

#close-button {
    cursor: pointer;
    display: none;
}

//small size
.search-div.small {
    height: 2.5rem;
    & sd-icon {
        padding: $sd-space-050;
    }
}
